html, body {
    padding: 0;
    margin: 0;
}
p {
    background: green;
    margin: 0;
}
div {
    background: red;
}
label {
    font-size: 30px;
}
span {
    font-size: 40px;
}
img {
    margin: 0;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: red;
    height: 30px;
    z-index: 30;
}
